<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<h1> About Us </h1>
<a th:href="@{/mainscreen}"> Back To Carolina Computer Store</a>
<br>
<p> Welcome to Carolina Computer Store, We have all the Top-of-the-line tech products tailored to meet your every needs.</p>
<p>At Carolina Computers, your satisfaction is not just a goal but a guiding principle that drives every aspect of our business.</p>
<p>Explore our selection with confidence, knowing that you're experiencing the pinnacle of quality and service.</p>
<p>Please contact us for sales or concerns at 1-800-999-9990 </p>
<p>Email: salesandcust@buyapcnownc.com </p>

</body>
</html>